
    <h2>Welcome, {{user.username}}!</h2>

<br>
<br>

<div class ='container'>
    <a href="/auth/search" class="btn btn-primary btn-lg" role="button">Discover New Music</a>
    </div>
<br>
<br>

<div class = 'favoritesBox'>

    <div class = 'container'>
        <div class="row">
                <div class="col">

        <div class = 'artistBox'>
            <h3>My Favorite Artists</h3>
            <div class = 'artist'>
                {{#each user.favoriteArtist}}
                   <br>
                    <img src="{{images.0.url}}"  alt="{{name}}'s picture" width="75" height="75">
                    <a href="/auth/search-results/artists/{{spotifyId}}">{{name}}</a>
                    <br>
                    
                {{/each}}
            </div>
                </div>
        <br>
        <br>
    
        <div class = 'songBox'>
            <h3>My Favorite Songs</h3>
                <div class = 'songs'>
                    {{#each user.favoriteTrack}}
                        <br>
                        <img src="{{album.images.0.url}}" alt="{{name}}'s picture" width="75" height="75">
                        <br>
                        <a href="/auth/search-results/artists/{{album.artists.0.id}}">{{name}}</a>
                    {{/each}}
                </div>
    </div>
    
        <br>
        <br>
        <div class = 'albumsBox'>
    
            <h3>My Favorite Albums</h3>
                <div class = 'albums'>
                    {{#each user.favoriteAlbum}}
                        <br>
                        <img src="{{images.0.url}}" alt="{{name}}'s picture" width="75" height="75">
                        <br>
                        {{name}}
                    {{/each}}
            </div>
        </div>
        </div>
        </div>
                </div>
    
</div>
<br>
<br>



<br>
<br>

</form>
<br>
<br>
<div class = 'commentBox'>
    
    <h3>Comments</h3>
    <form action="/auth/create/{{user._id}}" method="post">
        <br>
        <textarea name="comment" rows="4" cols="30"></textarea>
        <br>
        <button type ='submit' class="btn btn-lg btn-primary">Submit Comment</button>
    </form>
    <br>
    {{!-- {{#if user equals ownerOfComment then show comments}} --}}
    
    
        <div>
            <div id="comment">
                {{#each userComments}}
                    <div class="comment-box">
                        <div>
                            <h3>{{owner.username}}</h3>
                            {{!-- Create new variable that will check to see if loggedinuser equals commentOwner --}}
                        </div>
                        <p>{{this.comment}}</p>
                        {{#if this.canDelete}}
                        <i class="bi bi-chat-left-quote"></i>
                        <form action="/auth/{{_id}}/delete" method="POST">
                            <button class="btn btn-secondary btn-sm" >Delete</button>
                        </form>
                        <form action="/auth/{{_id}}/edit" method="GET">
                            <button class="btn btn-primary btn-sm">Edit</button>
                        </form>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
                </div>
        </div>
</div>
