<h2>{{data.user.username}}'s profile</h2>

<h3>My Artists</h3>
{{#if data.isLoggedInUser}}
<form action= "" method="POST">
    <label>
        <input type="text" placeholder="Add New Favorite Artist">
    </label>
    <button type="submit">Submit</button>
</form>
{{/if}}
<br>
<br>

<h3>My Favorite Songs</h3>
{{#if data.isLoggedInUser}}
<form action= "" method="POST">
    <label>
        <input type="text" placeholder="Add New Favorite Song">
    </label>
    <button type="submit">Submit</button>
</form>
<br>
<br>
<a href="/auth/discover-events">Discover Events</a>
<a href="/auth/search">Discover New Music</a>
{{/if}}
<br>
<br>

</form>
<br>
<br>
<h3>Comments</h3>
<form action="/auth/create/{{data.user._id}}" method="post">
    <br>
    <textarea name="comment" rows="4" cols="30"></textarea>
    <br>
    <button type ='submit'>Submit Comment</button>
</form>
<br>
{{!-- {{#if user equals ownerOfComment then show comments}} --}}

{{#if data.canDelete}}
    <div id="comment">
        {{#each data.userComments}}
            <div class="comment-box">
                <div>
                    <h3>{{owner.username}}</h3>
                    {{!-- Create new variable that will check to see if loggedinuser equals commentOwner --}}
                    
                    
                </div>
                <p>{{this.comment}}</p>
                <form action="/auth/{{_id}}/delete" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        {{/each}}
    </div>
    {{else}}
    <div id="comment">
    {{#each data.userComments}}
        <div class="comment-box">
            <div>
                <h3>{{owner.username}}</h3>
                {{!-- Create new variable that will check to see if loggedinuser equals commentOwner --}}
                
                
            </div>
            <p>{{this.comment}}</p>
        </div>
    </div>
    {{/each}}
{{/if}}
</div>
