    {{#if tracksData}}
    {{!-- {{#each tracksData}} --}}
        <div id="track-details">
            <img src="{{tracksData.album.images.0.url}}">
            <h4>{{tracksData.name}}</h4>
            <h5>Album:{{tracksData.album.name}}</h5>
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

    {{!-- {{#if artistsData}}
    {{#each artistsData}}
        <div id="artist-details">
            <img src="{{album.images.0.url}}">
            <h4>{{name}}</h4>
            <h5>{{album.name}}</h5>
        </div>
    {{/each}}
    {{/if}}

    {{#if albumsData}}
    {{#each albumsData}}
        <div id="album-details">
            <img src="{{images.0.url}}">
            <h4>{{name}}</h4>
        </div>
    {{/each}}
    {{/if}} --}}