    {{#if trackResults}}
    {{!-- {{#each tracksData}} --}}
        <div id="track-details">
            <img src="{{results.album.images.0.url}}" width="400" height="400">
            <br>
            <div class= "search-details">
            <h4>
                <b>
                {{results.name}}
                {{#each results.artists}}
                <a href="/auth/search-results/artists/{{id}}">{{name}},</a> 
                {{/each}}
                </b>
            </h4>
            <form action="/auth/save-favorite-song/{{results.id}}" method="post">
                <button>
                    Save Song to Favorites
                </button>
            </form>
            <br>
            <h5><b>Album:</b> {{results.album.name}}</h5>
            <h5><b>Popularity Score:</b> {{results.popularity}}/100 </h5>
            <br>
            <audio controls>
                <source src={{results.preview_url}} type="audio/ogg">
                <source src={{results.preview_url}} type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <br>
            </div>
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

    {{#if artistResults}}
    {{!-- {{#each artistsData}} --}}
        <div id="artist-details">
            <img src="{{results.images.0.url}}" width="400" height="400">
            <br>
            <div class= "search-details">
            <h4>
                <b>
                    <a href="/auth/search-results?search={{results.name}}">{{results.name}}</a> 
                </b>
            </h4>
            <br>
            <h4>
                <b>
                Genres:
                </b>
                {{results.genres}}
            </h4>
            <form action="/auth/save-favorite-artist/{{results.id}}" method="POST">
            <button>Save Favorite Artist</button>
            </form>
            <h5><b>Popularity:</b> {{results.popularity}}/100</h5>
            </div>

        </div>
    {{!-- {{/each}} --}}
    {{/if}}

    {{#if albumResults}}
    {{!-- {{#each albumsData}} --}}
        <div id="album-details">
            <img src="{{results.images.0.url}}" width="400" height="400">
            <br>
            <div class= "search-details">
            <h4><b>{{results.name}}</b></h4>
            <form action="/auth/save-favorite-album/{{results.id}}" method="POST">
                <button>
                    Save Album to Favorites
                </button>
            </form>
            <br>
            <h5>
                <b>
                Artists:
                {{#each results.artists}}
                <a href="/auth/search-results/artists/{{id}}">{{name}},</a> 
                {{/each}}
                </b>
                
            </h5>
            <h5><b>Popularity Score:</b> {{results.popularity}}/100 </h5>
            <h5><b>Label:</b> {{results.label}}</h5>
            <h5><b>Release:</b> {{results.release_date}}</h5>
            </div>
            <br>
            <div><h5><b>Track List:</b></h5>
            <ul class="track-list">  
                {{#each results.tracks.items}}
                    <li>
                        <a href="/auth/search-results/tracks/{{id}}">{{name}}</a> 
                    </li>
                {{/each}}
            </ul> 
            </div>
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

