<h2>
<a href="/auth/search">New Search</a>
</h2>

<section id="results">
    <div id="track-results-container" class ="results-container">
        <h5>Tracks</h5>
        {{#each tracksData}}
        <img src="{{album.images.0.url}}" alt="">
        <a href="/auth/search-results/tracks/{{id}}">
            <p>{{name}}</p>
        </a>
        
        <hr>
        {{/each}}
    </div>
    <br>
    <br>

    <div id="artist-results-container" class ="results-container">
        <h5>Artists</h5>
        {{#each artistsData}}
        <img src="{{images.0.url}}" alt="">
        <a href="/auth/search-results/artists/{{id}}">
            <p>{{name}}</p>
        </a>
        <hr>
        {{/each}}
    </div>
    <br>
    <br>

    <div id="album-results-container" class ="results-container">
        <h5>Albums</h5>
        {{#each albumsData}}
        <img src="{{images.0.url}}" alt="">
        <a href="/auth/search-results/albums/{{id}}">
            <p>{{name}}</p>
        </a>
        <hr>
        {{/each}}
    </div>
    <br>
</section>
