    {{#if trackResults}}
    {{!-- {{#each tracksData}} --}}
        <div id="track-details">
            <img src="{{results.album.images.0.url}}">
            <h4>{{results.name}}</h4>
            <h5>Album:{{results.album.name}}</h5>
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

    {{#if artistResults}}
    {{!-- {{#each artistsData}} --}}
        <div id="artist-details">
            <img src="{{results.images.0.url}}">
            <h4>{{results.name}}</h4>
            
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

    {{#if albumResults}}
    {{!-- {{#each albumsData}} --}}
        <div id="album-details">
            <img src="{{results.images.0.url}}">
            <h4>{{results.name}}</h4>
        </div>
    {{!-- {{/each}} --}}
    {{/if}}

