<div id="track-results-container">
    <h2>Tracks</h2>
    {{#each tracksData}}
    <h5>{{name}}</h5>
    {{/each}}
</div>
<hr>

<div id="artist-results-container">
    <h2>Artists</h2>
    {{#each artistsData}}
    <img src="{{images.0.url}}" alt="">
    <h5>{{name}}</h5>
    {{/each}}
</div>
<hr>

<div id="album-results-container">
    <h2>Albums</h2>
    {{#each albumsData}}
    <img src="{{images.0.url}}" alt="">
    <h5>{{name}}</h5>
    {{/each}}
</div>
<hr>

